* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.mainContainer, .leftSide, .rightSide {
  border-radius: 12px;
}

.mainContainer {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /* display: flex;
  justify-content: space-around;
  gap: 100px; */
  background-color: rgba(255, 255, 255, 0.7);
  padding: 30px 47px;
  font-size: 0;
}

.leftSide, .rightSide {
  padding: 20px;
  display: inline-block;
  width: 45%;
}

.leftSide {
  background-color: #709efe;
}

.rightSide {
  /* position: relative;
  right: -19%; */
  margin-left: 10%;
  background-color: #fe6e78;
}

h1 {
  margin-bottom: 30px;
  font-size: 32px;
}

p {
  font-size: 18px;
}

.paragraphMargin {
  margin-top: 20px;
}