* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  /* display: flex;
  justify-content: space-between; */
  border: 6px solid #272727;
  border-bottom: none;
  font-size: 0;
  text-align: center;
}

.leftSide {
  width: 50%;
  background: url(../images/image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: inline-block;
}

.rightSide {
  position: relative;
  top: -195px;
  text-align: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
}

.bellImage {
  width: 140px;
  height: 160px;
  margin-top: 50px;
  position: relative;
  left: -23px;
}

h1 {
  width: 440px;
    font-size: 52px;
}

h4 {
  color: gray;
  margin-top: 10px;
  font-weight: 300;
  font-size: 16px;
}

form {
  max-width: 664px;
  width: 100%;
}

input {
  display: block;
  margin: 20px 0;
  padding: 20px 11px;
}

input, button {
  width: 65%;
}

button {
  display: block;
  background-color: #5385cd;
  color: #fff;
  padding: 20px 0;
  margin-bottom: 20px;
  border: none;
}

button:hover {
  cursor: pointer;
}

h5 {
  font-size: 15px;
  color: gray;
  font-weight: 300;
}