* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  width: 50%;
  /* display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between; */
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 0;
}

.box {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: space-between; */
  height: 382px;
  display: inline-block;
  text-align: center;
  width: 30%;
}

body > div > div:nth-child(2), body > div > div:last-child {
  margin-left: 5%;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: saturate(3);
}

h1 {
  font-size: 26px;
  padding: 20px 0;
}

p {
  color: gray;
  font-size: 18px;
  padding-bottom: 35px;
}

.myButton {
  background-color: #ff872a;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
}