* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; 
  column-gap: 10px;
  row-gap: 100px; */
  width: 60%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 0;
  text-align: center;
}

.box {
  width: 20%;
  margin-right: 2.5%;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
  text-align: left;
}

div.greenBox {
  align-items: center;
  text-align: center;
  height: 180px;
  margin-top: 100px;
}

img.yellowIcon {
  height: 40px;
  width: 40px;
}

img.greenIcon {
  height: 70px;
  width: 70px;
}

h1 {
  font-size: 16px;
  padding: 20px 0;
}

p {
  color: gray;
  font-size: 16px;
}

div.greenBox > p {
  font-size: 16px;
}
